*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  font: inherit;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* =========================
   Container + Section
========================= */
.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }

  .section {
    padding: 96px 0;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }
}

/* =========================
   Header
========================= */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

@media (min-width: 768px) {
  .header-container {
    height: 72px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-logo-web {
  color: #4d5ae5;
}

.header-menu-list {
  display: none;
  gap: 40px;
  
}

.header-menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link.current {
  position: relative;
  color: #404bbf;
}

.header-menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-contact {
  display: none;
  font-style: normal;
}

.header-contact-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.header-contact-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: #404bbf;
}

/* Burger */
.burger-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.burger-icon {
  fill: #2f2f37;
}

@media (min-width: 768px) {
  .header-menu-list {
    display: flex;
    margin-left: 120px;
  }

  .header-contact {
    display: block;
  }

  .burger-btn {
    display: none;
  }
}

@media (min-width: 1158px) {
  .header-contact-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* =========================
   Hero
========================= */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/mobile_hero_1x.jpg");
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/mobile_hero_2x.jpg");
  }
}

.hero-title {
  max-width: 216px;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/tablet_hero_1x.jpg");
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/tablet_hero_2x.jpg");
    }
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/desktop_hero_1x.jpg");
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/desktop_hero_2x.jpg");
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* =========================
   Features
========================= */
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  max-width: 288px;
  margin: 0 auto;
  text-align: center;
}

.features-icon-wrapper {
  display: none;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.features-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #434455;
text-align: left;
}

@media (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
    max-width: none;
    text-align: left;
  }

  .features-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon-wrapper {
    display: flex;
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400;
  }
}

/* =========================
   Team
========================= */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 16px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

@media (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}

@media (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/* =========================
   Portfolio
========================= */
.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
    width: 100%;
    background-color: #ffffff;

    box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  inset: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text,
.portfolio-item:focus-within .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-service {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  letter-spacing: 0.02em;
  color: #434455;
}

@media (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-item:hover,
  .portfolio-item:focus-within {
    box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* =========================
   Footer
========================= */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-info {
  max-width: 288px;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo-web {
  color: #4d5ae5;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
text-align: left;
}

.footer-social-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.footer-input {
  width: 100%;
  max-width: 288px;
  height: 40px;
border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  padding: 0 16px;
  color: #ffffff;
  outline: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
    border-color: #31d0aa;
    
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
background-color: #31d0aa;
}

.footer-btn-icon {
  fill: #ffffff;
}


@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
        padding-right: 108px;
  }

  .footer-info {
    max-width: 264px;
    text-align: left;

 
    
  }

  .footer-social-text {
    text-align: left;
  }

  .footer-social-list {
    justify-content: flex-start;
  }

  .footer-subscribe {
    width: 100%;
  }

  .footer-form {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }

  .footer-input {
    max-width: 264px;
  }
}


@media (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-container {
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;

        padding-left: 0;
        padding-right: 0;
    }

    .footer-info {
        margin-right: 120px;
    }

    .footer-social {
        margin-right: 80px;
    }

    .footer-subscribe {
        width: auto;
        margin-left: auto;
    }
}

/* =========================
   Modal (Order Service)
========================= */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 100%;
  max-width: 288px;

  background-color: #fcfcfc;
  border-radius: 4px;

  padding: 72px 16px 8px;
  position: relative;

  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .modal {
    max-width: 408px;
    padding: 72px 24px 24px;
  }
}

.modal-closed {
  position: absolute;
  right: 24px;
  top: 24px;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-closed:hover,
.modal-closed:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-closed:hover .modal-close-icon,
.modal-closed:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-field {
    margin-bottom: 0;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon,
.modal-input:focus-visible + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
margin: 8px 0 16px;
}

@media (min-width: 768px) {
    .modal-checkbox {
        max-width: 360px;
        margin: 8px auto 16px;
    }
}

.modal-check-label {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check-box {
  width: 16px;
  height: 16px;
  flex-shrink: 0;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-input:checked + .modal-check-label .modal-check-box {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
}

.modal-check-text {
  max-width: 360px;
line-height: 1.33;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-btn {
    align-self: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.04em;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

/* =========================
   Mobile Menu
========================= */
.mobile-menu-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 1000;
}


.mobile-menu-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.mobile-menu {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;

    background-color: #ffffff;
    padding: 72px 16px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-backdrop.is-open .mobile-menu {
    transform: translateX(0);
}

.mobile-menu-close {
    position: absolute;
    right: 16px;
    top: 24px;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
    border-color: #404bbf;
}

.mobile-menu-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover .mobile-menu-close-icon,
.mobile-menu-close:focus .mobile-menu-close-icon {
    fill: #ffffff;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-link.current {
    color: #404bbf;
}


.mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 48px;
   
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
   
}

.mobile-menu-tel,
.mobile-menu-email {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.mobile-menu-tel {
    font-weight: 700;
    color: #4d5ae5;
}
.mobile-menu-email {
    font-weight: 500;
    color: #434455;
}


.mobile-menu-social {
    display: flex;
    gap: 40px;
    margin-top: 0;
  
}

.mobile-menu-social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
    background-color: #404bbf;
}

.mobile-menu-social-icon {
    fill: #f4f4fd;
}

@media (min-width: 768px) {
  .mobile-menu-backdrop {
    display: none;
  }
}

@media (min-width: 1158px) {
    .header-container {
        justify-content: flex-start;
    }

    .header-menu-list {
        margin-left: 76px;
    }

    .header-contact {
        margin-left: auto;
    }
}